---
# Only run one check for now.
Checks:          '-clang-*,clang-analyzer-security.*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            chenshuo
CheckOptions:
  - key:             llvm-namespace-comment.ShortNamespaceLines
    value:           '10'
  - key:             llvm-namespace-comment.SpacesBeforeComments
    value:           '2'
  - key:   MuduoRootDirectory
    value: '/muduo-cpp11/'
...

